<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 
    <link rel="stylesheet" href="../../css/index.css">
<body>
    <%- include("./partials/navbar") %> 

    <main>
        <div class="container">
            <section id="hero">
                <div class="left-col">
                    <h2>As melhores receitas</h2>
                    <p>Aprenda a construir os melhores pratos <br> com receitas criadas por profissionais <br> do mundo inteiro</p>
                </div>

                <div class="right-col">
                    <img src="/assets/chef.png" alt="">
                </div>
            </section>

            <section id="recipes">
                <h3>Mais acessadas</h3>
                <div class="card">
                    <div class="card-header" onclick="Modal.open()">
                        <img src="/assets/burger.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="title">Triplo bacon burger</h5>
                        <p>por Jorge Relato</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <%- include("./partials/modal") %> 

    <%- include("./partials/footer") %>

    <%- include("./partials/scripts") %>
</body>
</html>