<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="../../css/partials/card.css">
    <link rel="stylesheet" href="../../../css/partials/navbar.css">
    <link rel="stylesheet" href="../../css/partials/footer.css">
    <link rel="stylesheet" href="../../css/partials/modal.css">
    <link rel="stylesheet" href="../../css/pages/index.css">
    <title>Foodfy | Aqui você encontra as melhores receitas</title>
<body>
    <%- include("./partials/navbar") %> 

    <main>
        <div class="container">
            <section id="hero">
                <div class="left-col">
                    <h2>As melhores receitas</h2>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>

                <div class="right-col">
                    <img src="/assets/chef.png" alt="">
                </div>
            </section>

            <section id="recipes">
                <h3>Mais acessadas</h3>
                <div class="recipes-content">
                    <% data.forEach(data => { %>
                        <div class="card">
                            <div class="card-header" onclick="Modal.open()">
                                <img src="<%= data.image %>" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="title"><%= data.title %></h5>
                                <p>por <%= data.author %></p>
                            </div>
                        </div>
                        <% }); %>  
                </div>
            </section>
        </div>
    </main>

    <%- include("./partials/modal") %> 

    <%- include("./partials/footer") %>

    <%- include("./partials/scripts") %>
</body>
</html>