<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../../../css/partials/card.css">
    <link rel="stylesheet" href="../../../css/partials/navbar.css">
    <link rel="stylesheet" href="../../../css/partials/modal.css">
    <link rel="stylesheet" href="../../../css/partials/footer.css">
    <link rel="stylesheet" href="../../../css/pages/admin-index.css">
    <link rel="stylesheet" href="../../css/responsiveness.css">
    <title>Foodfy - Administrador | Receitas</title>
<body>
    <%- include("../partials/admnav") %> 

    <main>
        <div class="container">
            <section id="recipes">
                <div id="title">
                    <h3>Gerenciar receitas</h3>
                    <a href="/admin/create" class="btn-add">Adicionar nova receita</a>
                </div>
                <div class="recipes-content">
                    <% data.forEach(data => { %>
                        <div class="card">
                            <div class="card-header" onclick="Modal.open()">
                                <img src="<%= data.image %>" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="title"><%= data.title %></h5>
                                <p>por <%= data.author %></p>
                                <a href="/recipes/<%= data.id %>">Ver mais</a>
                            </div>
                        </div>
                    <% }); %> 
                </div>
            </section>
        </div>
    </main>

    <%- include("../partials/modal") %> 
    
    <%- include("../partials/scripts") %>
</body>
</html>